/* #container {
    background-color: #f8f8f8;
    height: 140px;
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
    padding: 0px 10px;
    font-size: 18px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
} */

/* .headerLogo {
    padding-top: 10px;
    height: 120px;
    width: 345;
    left: 200px;
}

.right-align {
    display: flex;
    align-items: center;
    gap: 30px;

}

.right-align button {
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.right-align button:hover {
    opacity: 0.7;
}

/* areas css */
/* .area {
    display: flex;
    flex-direction: column;
}

.area a {
    text-decoration: none;
}

.area a:hover {
   cursor: pointer;
}

.area a:visited {
    color:aqua;
}

.btn {
    left: 1219;
    background-color: #e14f53;
    width: 252px;
    height: 65px;
    color: #f8f8f8;
    border-radius: 10px;
    opacity: 1;
}

.veteranpic {
    width: 219px;
    height: 78px;
} */

/* make word home dissappear */
.site-branding {
    display: none;
}

.entry-title {
    display: none;
} 

/* #site-navigation > .menu-primary-menu-container > ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    background-color: #0f4b7d;
    justify-content: center;  
    height: 62px;
    font-weight: bolder;  
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -24px;
} */ 

/* #site-navigation .menu-primary-menu-container > ul a {
    color: whitesmoke;
}

.wp-block-cover .wp-block-cover__image-background {
    max-width: 100%;
    /* height: auto; */
    /* max-height: 400vh; */
/* } 

.wp-block-cover .wp-block-cover__inner-container > p {
    width: 100%;
    color: #f8f8f8; 
    padding-top: 575px;
    font-weight: bolder; 
}; */ 


/* @media screen and (max-width: 1000px) {
    .right-align {
        display: none;
    }
    .main-navigation {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .right-align {
        display: none;
    }
    .main-navigation {
        display: none;
    }
} */

/* @media  */

/* @media screen and (max-width: 950px) {
    .site-header .text-overlay {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .site-header .text-overlay {
        font-size: 12px;
    }
} */ 


/* Main navigation items */

#fixed_calendar {
	color: white !important;
	font-size: 30px;
	background: #E14F53;
	position: fixed;
	height: 60px;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 600px;
	right: 50px;
	z-index: 999;
	border-radius: 50%;
}

#site-header-top {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
}

#schedule-cta {
	width: 252px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

#schedule-cta:hover {
	background-color: #0F4B7D !important;
	color: white;
}

#site-header-top a {
	color: #0F4B7D;
}

#menu-primary-menu {
	display: flex;
	gap: 50px;
	background: #0F4B7D;
	position: relative !important;
	justify-content: center;
	overflow-x: clip !important;

}


#menu-item-17555,
#menu-item-17591,
#menu-item-17645,
#menu-item-17672,
#menu-item-17645,
#menu-item-17672,
#menu-item-17705,
#menu-item-17698,
#menu-item-17874 {
	padding: 20px 0px;
	font-weight: bold;
}

#menu-item-17705 .sub-menu,
#menu-item-17698 .sub-menu {
	grid-template-columns: 1fr !important;
}

#menu-primary-menu li a,
.menu-footer-menu li a {
	color: white !important;
}

#menu-primary-menu li {
	position: static !important;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
	left: 0vw !important;
}

#megabackground {
	width: fit-content;
	opacity: .8;
	position: absolute;
	left: 10vw;
	top: 200px;
	display: none;
	z-index: -10;
	height: fit-content !important;
}

#megabackground-title {
	max-width: 600px;
	line-height: 1;
	color: #0F4B7D !important;
	height: 0px;
}

#megabackground-title:hover .sub-menu {
	background: purple;
}

#active-nav {
	position: absolute;
	left: 10vw;
	top: 100px;
	height: 100%;
	display: flex;
	font-size: 80px;
	z-index: 9999999999;
	pointer-events: none;
	max-width: 700px;
	width: 700px;
	line-height: 1;
	height: 200px;
	color: #0F4B7D;
	border-right: 9px solid #E14F53;
	padding-right: 75px;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;

}


.sub-menu {
	height: fit-content !important;
	display: grid !important;
	grid-template-columns: 1fr 1fr !important;
	position: absolute !important;
	min-width: 45% !important;
	top: 0;
	right: 0 !important;
	z-index: 10;
	justify-content: flex-end !important;
	max-width: 475px;
	gap: 50p;
	background: transparent !important;
	box-shadow: none !important;


}

#menu-primary-menu .sub-menu li {
	position: relative !important;
	left: 55vw !important;
	top: 100px;
	width: fit-content !important;
	min-width: fit-content !important;
	max-width: fit-content !important;
}

#menu-primary-menu .sub-menu li a:hover {
	background: rgb(241, 241, 241) !important;
}

.sub-menu::after {
	content: " ";
	position: absolute;
	top: -2px;
	left: 0;
	right: 50vw;
	width: 100vw;
	background: white;
	height: 500px;
	z-index: -1;
	opacity: .99;
	border-bottom: 5px solid #E14F53;
}

#menu-primary-menu .sub-menu li .sub-menu li {
	position: relative !important;
	left: 200px !important;
	flex: 175px;
	top: 0;
	background: white !important;
}

#menu-primary-menu .sub-menu li a {
	font-size: 22px !important;
	color: #0F4B7D !important;
	min-width: fit-content;
	width: fit-content !important;
	padding: 10px !important;
	font-weight: bold;

}

#menu-primary-menu .sub-menu li a:visited {
	color: #0F4B7D;
}



#menu-primary-menu .sub-menu li a:hover {
	font-size: 22px !important;
	color: white !important;
	min-width: fit-content;
	background: lightgray;
}

#menu-primary-menu .sub-menu li a:hover {
	font-size: 22px !important;
	color: #0F4B7D !important;
	min-width: fit-content;
}

#menu-primary-menu .sub-menu li .sub-menu {
	height: fit-content !important;
	margin-left: 100% !important;
	grid-template-columns: 1fr !important;
	min-width: 400px !important;
	width: 400px !important;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
	background: white !important;
}

#menu-primary-menu .sub-menu li .sub-menu li {
	position: relative !important;
	left: 5px !important;
	flex: 100%;
	top: 0 !important;
	width: fit-content !important;
}

#menu-primary-menu .sub-menu li .sub-menu li {
	position: relative !important;
	left: 5px !important;
	flex: 100%;
	top: 0 !important;
	width: fit-content !important;
}

#menu-primary-menu .sub-menu li .sub-menu li a:hover {
	width: 100% !important;
}

#menu-primary-menu .sub-menu li .sub-menu::after {
	content: none !important;
}


.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul::after {
	content: none !important;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul li {
	left: 0 !important;
}

/* End of main nav */